<!DOCTYPE html>
<html>
    <body>
        Oto osoby które są w grupie:<br>
        
            {% for person in persons %}
                
                    Imię i nazwisko: {{ person.name }}, e-mail: {{ person.email }}, tel: {{ person.phone }} <br>
                    Konto na Github: <a href="https://github.com/{{ person.github }}">Profil Github</a><br>
                    Konto na LinkedIn: <a href="htpps://pl.linkedin.com/in/{{ person.linkedin }}">Profil LinkedIn</a><br>
                
            {% endfor %}
        
    </body>
</html