{% extends "CodersBookBundle::base.html.twig" %}

{% block title %} Update {% endblock %}

{% block content %}
        {% if error is defined%}
            {{ error }}
        {% else %}
            {% if success is defined%}
                Success!
            {% endif%}
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}
        {% endif %}
        <a href="{{ path ('group_admin_all') }}">Strona główna</a><br>
{% endblock %}