{% extends "CodersBookBundle::base.html.twig" %}

    {% set title = 'Wyniki wyszukiwania' %}

{% block content %}
    
    {% if error is not defined %}
        <h3 class="w100">Wyszukiwanie w grupach</h3>
        <ul>
            {% for result in searchedGroups %}
                <li><a href=" {{ path('person_admin_all', {'name':result.name}) }}">{{ result.name }}</a></li>
            {% else %}
                <li>Brak wyników.</li>
            {% endfor %}
        </ul>
        <h3 class="w100">Wyszukiwanie w osobach</h3>
        <ul>
            {% for result in searchedPeople %}
                <li><a href=" {{ path('person_admin_all', {'name':result.clGroup.name}) }}">{{ result.name }}</a></li>
            {% else %}
                <li>Brak wyników.</li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="info error"><i class="material-icons">warning</i> {{ error }}</div>
    {% endif %}
{% endblock %}